body {
    background-color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.75em;
    margin: 0;
}
h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
}
#header-full {
    color: #fff;
}
.cache-xs {
    display: none !important;
}
.cache-sm {
    display: none !important;
}
.conteneurlogo {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
    background:#333;
}
.conteneurnav {
    padding-right: 0px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
    background:#333;
}
.conteneurblocs {
    padding-right: 75px;
    padding-left: 75px;
    margin-right: auto;
    margin-left: auto;
}
.conteneur-blocs {
    padding-right: 0px;
    padding-left: 350px;
	padding-top: 60px;
    margin-right: auto;
    margin-left: auto;
}
.conteneur-slider1 {
    padding-right: 0px;
    padding-left: 350px;
	padding-top: 60px;
    margin-right: auto;
    margin-left: auto;
}
.conteneur-articles {
    padding-right: 25px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
}
.header-titre-complet {
    float: left;
    overflow: hidden;
    padding-left: 75px;
}
.header-titre-complet h1 {
    margin-bottom: 5px;
    margin-top: 15px;
    font-family: "Muli";
    word-spacing: -7px;
    color: #000;
    font-size: 32px;
}
.header-titre-complet h1 a {
    color: #000;
    text-decoration: none;
}
.header-titre-complet h1 span,
.header-titre-complet h1 span a {
    color: #90ab46;
}
.header-titre-complet p {
    margin-bottom: 15px;
    font-size: 1.2em;
    text-align: center;
}
.togglenav{
    width: 100%;
    padding:10px 20px;
    background: #333;
    box-sizing: border-box;
    color: #fff;
    font-size: 20px;
    display: none;
}
@media (max-width:1280px){
    .togglenav{
        display: block;
    }
    .conteneurnav{
        display: flex;
        flex-wrap: columns;
        padding-right: 10px;
        padding-left: 10px;
        margin-right: auto;
        margin-left: auto;
    }
    .resize{
        width: 90%;
        height: 90%;
        margin-bottom: 0px;
    }
    .conteneur-slider1 {
        padding-right: 0px;
        padding-left: 50px;
        padding-top: 60px;
        margin-right: auto;
        margin-left: auto;
    }
    ul{
        width: 100%;
        display: none;
    }
    ul li{
        display: inline;
        text-align: center;
    }
    .active{
        display: flex;
        flex-wrap: wrap;
    }
    .conteneurlogo {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .list-supr{
        display: block;
    }
    div.titre-page{
        border-bottom: 1px solid #D32150;
        width : 200px;
        margin-left : 125px;
    }
}
.slider .slider1 {
    background-color: rgb(0, 0, 0);
    background-image: url("../img/slider.jpg");
    padding-bottom: 100px;
	padding-top: 10px;
    position: relative;
}
.slider .slider1 .titre-slider {
    position: static;
    text-align: left;
    font-family: 'Lato', sans-serif;
    padding-top: 0;
}
.slider .slider1 .titre-slider span {
    color: #D7A742;
}
.slider .slider1 .titre-slider .soustitre-slider li {
    line-height: 1;
    margin-bottom: 20px;
    overflow: visible;
}
.slider .slider1 .titre-slider .soustitre-slider span {
    color: #fff;
}
.titre-slider {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    padding-top: 20px;
    padding-bottom: 0px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.list-supr {
    padding-left: 0;
    list-style: none;
}
.soustitre-slider {
    margin: 20px 0;
}
.soustitre-slider li {
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 7px;
}
.soustitre-slider li i {
    font-size: 1.6em;
    margin-right: 20px;
    color: #fff;
}
.sous-titre-slider {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 10px;
    color: #fff;
    top: 0;
    list-style: none;
    line-height: 30px;
    font-size: 16px;
}
.ligne {
    margin-right: 0px;
    margin-left: 0px;
}
.colonne-x4{
    -webkit-column-count: 4; /* Opera, Safari, Google Chrome */
    -moz-column-count: 4; /* Firefox */
    column-count: 4; /* Internet Explorer */
}
.bloc {
    display: block;
    text-align: center;
    overflow: hidden;
    padding: 0px;
    margin-bottom: 30px;
    margin-right: 30px;
    width: 23%;
    min-width: 200px;
}
.bloc.bloc-def {
    background-color: #f6f6f6;
    border: solid 1px #e5e5e5;
}
.bloc.bloc-def:hover {
    background-color: #f3f3f3;
}
.icon-bloc {
    width: 50px;
    height: 50px;
    font-size: 22px;
    background-color: #D32150;
    color: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 20px 5px 5px 0;
    text-align: center;
    line-height: 2.2;
}
.icon-bloc-arrondi {
    border-radius: 7px;
}
.icon-bloc-inverse {
    background-color: transparent;
    color: #D32150;
    border: solid 1px #D32150;
}
h4.titre-bloc{
    color: #D32150;
    font-size: 20px;
    font-weight: bold;
}
p.bloc-desc{
      color: #444;
      padding-left: 1px;
      padding-right: 1px;
}
.titre-page{
	border-bottom: 1px solid #D32150;
	width : 375px;
	margin-left : 125px;
}
.titre-haut-page{
    border-top: 4px solid #D32150;
    width: 150px; 
}
.titre-perso{
    border-bottom: 1px solid #D7A742;
    width : 150px;
}
.margin-text{
	margin-left : 125px;
}
.titre-text{
	color: #D32150;
}

.affiche {
	float:left;
	padding-left: 125px;
}

.texte-affiche {
	margin-bottom: 10px;
}
div.cadre{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border: solid 1px;
    border-color: #b2bec3;
}
.cadre-full{
    display: inline;
}
.marge{
    margin-left: 125px;
}
.padding{
    padding-top: 20px;
    padding-right: 10px;
}
ul.footer{
    list-style-image: none;
    line-height: auto;
    z-index:100;
      position:relative;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
#footer{
    position: fixed;
    bottom: 0;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #333;
}
.menu-footer{
    display: block;
    text-align: left;
    overflow: hidden;
    margin-bottom: 125px;
    margin-right: 125px;
    width: 450px;
    min-width: 200px;
}
.s-titre-footer-nav{
	border-top: 1px solid #D32150;
	width : 220px;
	margin-left : 125px;
}
.titre-footer{
    padding-top: 20px;
    color: #D32150;
    margin-left: 125px;
}
.float{
    float: left;
}
p.texte-footer{
    margin-left: 125px;
    color: #dfe6e9;
}
li.style{
    list-style-type: none;
    color: #dfe6e9;
}
li.space{
    margin-left: 85px;
}
a.style-footer{
    text-decoration: none;
    color: #dfe6e9;
    font-size: 14px;
    height: 5px;
    transition: 0.5s;
}
a.hover:hover{
    color: #D32150;
    text-decoration: underline;
    transition: 0.5s;
}
.bottom-footer{
    width: 100%;
    background-color: #212121;
}
p.texte-bottom-footer{
    color: #dfe6e9;
    padding-top: 0px;
    padding-bottom: 0px;
}
a.style-bottom-footer{
    text-decoration: none;
    color: #7d5fff;
    font-size: 14px;
    height: 5px;
    transition: 0.5s;
}
a.hover-no-u:hover{
    color: #D32150;
    transition: 0.5s;
}
.marge-footer{
    margin-left: 40px;
}
.titre-entete span{
    color: #fff;
}
.img-desc{
    float: left;
}
.desc-perso{
    float: right;
    margin-left: 20px;
    font-size: 14px;
}