body {
    background-color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.75em;
    margin: 0;
}
#header-full {
    color: #fff;
}
.cache-xs {
    display: none !important;
}
.cache-sm {
    display: none !important;
}
.conteneurlogo {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
    background:#333;
}
.conteneurnav {
    padding-right: 0px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
    background:#333;
}
.conteneurblocs {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 150px;
    margin-left: 25px;
}
.conteneur {
    padding-right: 0px;
    padding-left: 125px;
    margin-right: auto;
    margin-left: auto;
}
.header-titre-complet {
    float: left;
    overflow: hidden;
    padding-left: 75px;
}
.header-titre-complet h1 {
    margin-bottom: 5px;
    margin-top: 15px;
    font-family: "Muli";
    word-spacing: -7px;
    color: #000;
    font-size: 32px;
}
.header-titre-complet h1 a {
    color: #000;
    text-decoration: none;
}
.header-titre-complet h1 span,
.header-titre-complet h1 span a {
    color: #90ab46;
}
.header-titre-complet p {
    margin-bottom: 15px;
    font-size: 1.2em;
    text-align: center;
}
.togglenav{
    width: 100%;
    padding:10px 20px;
    background: #333;
    box-sizing: border-box;
    color: #fff;
    font-size: 20px;
    display: none;
}
@media (max-width:768px){
    .togglenav{
        display: block;
    }
    .conteneurnav{
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    }
    ul{
        width: 100%;
        display: none;
    }
    ul li{
        display: block;
        text-align: center;
    }
    .active{
        display: block;
    }
    .conteneurlogo {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    }
    .list-supr{
        display: block;
    }
}
.slider .slider1 {
    background-color: rgb(0, 0, 0);
    background-image: url("../img/slider.jpg");
    padding: 40px 0;
    position: relative;
}
.slider .slider1 .titre-slider {
    position: static;
    text-align: left;
    font-family: 'Lato', sans-serif;
    padding-top: 0;
}
.slider .slider1 .titre-slider span {
    color: #FFF6A7;
}
.slider .slider1 .titre-slider .soustitre-slider li {
    line-height: 1;
    margin-bottom: 20px;
    overflow: visible;
}
.slider .slider1 .titre-slider .soustitre-slider span {
    color: #fff;
}
.titre-slider {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    padding-top: 20px;
    padding-bottom: 0px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.list-supr {
    padding-left: 0;
    list-style: none;
}
.soustitre-slider {
    margin: 20px 0;
}
.soustitre-slider li {
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 7px;
}
.soustitre-slider li i {
    font-size: 1.6em;
    margin-right: 20px;
    color: #fff;
}
.sous-titre-slider {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 10px;
    color: #fff;
    top: 0;
    list-style: none;
    line-height: 30px;
    font-size: 16px;
}
.ligne {
    margin-right: -15px;
    margin-left: -15px;
}
.colonne-x4{
    -webkit-column-count: 4; /* Opera, Safari, Google Chrome */
    -moz-column-count: 4; /* Firefox */
    column-count: 4; /* Internet Explorer */
}
.bloc {
    display: block;
    text-align: center;
    overflow: hidden;
    padding: 0px;
    margin-bottom: 0px;
}
.bloc.bloc-def {
    background-color: #f6f6f6;
    border: solid 1px #e5e5e5;
}
.bloc.bloc-def:hover {
    background-color: #f3f3f3;
}
.icon-bloc {
    width: 50px;
    height: 50px;
    font-size: 22px;
    background-color: #D32150;
    color: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 20px 5px 5px 0;
    text-align: center;
    line-height: 2.2;
}
.icon-bloc-arrondi {
    border-radius: 7px;
}
.icon-bloc-inverse {
    background-color: transparent;
    color: #D32150;
    border: solid 1px #D32150;
}
h4.titre-bloc{
    color: #D32150;
    font-size: 20px;
    font-weight: bold;
}
p.bloc-desc{
      color: #444;
}
.titre-page{
	border-bottom: 1px solid #D32150;
	width : 400px;
	margin-left : 135px;
}
.margin-text{
	margin-left : 135px;
}
h1.titre-text{
	color: #D32150;
}