.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 2;
}
html body {
  margin: 0 0;
  background:#fff;
}
.menu,
.submenu {
  margin: 0 0;
  padding: 0;
  list-style: none;
    line-height: auto;
    z-index:100;
      position:relative;
}
.menu {			
  margin: 0 0;
  width: auto;
    line-height: auto;
    background:#333;
}
.menu .bg {     
    background:#333;
}
.menu > li {
  background: #333;
  position: relative;
  transform: skewX(25deg);
}
.menu a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, Helvetica;
  font-size: 14px;
}
.invisible {
  color: #333;
}
.menu li:hover {
  background: #D32150;
}		
.menu > li > a {
  transform: skewX(-25deg);
  padding: 1em 2em;
}
.submenu {
  position: absolute;
  width: 200px;
  left: 50%; margin-left: -100px;
  transform: skewX(-25deg);
  transform-origin: left top;
  z-index:100;
}
.submenu li {
  background-color: #333;
  position: relative;
  overflow: hidden;	
  z-index:100;	
}
.submenu > li > a {
  padding: 1em 2em;		
  z-index:100;	
}
.submenu > li::after {
  content: '';
  position: absolute;
  top: -125%;
  height: 100%;
  width: 100%;			
  box-shadow: 0 0 50px rgba(0, 0, 0, .9);		
  z-index:100;	
}
.submenu > li:nth-child(odd){
  transform: skewX(-25deg) translateX(0);
  z-index:100;
}
.submenu > li:nth-child(odd) > a {
  transform: skewX(25deg);
  z-index:100;
}
.submenu > li:nth-child(odd)::after {
  right: -50%;
  transform: skewX(-25deg) rotate(3deg);
  z-index:100;
}
.submenu > li:nth-child(even){
  transform: skewX(25deg) translateX(0);
  z-index:100;
}
.submenu > li:nth-child(even) > a {
  transform: skewX(-25deg);
  z-index:100;
}
.submenu > li:nth-child(even)::after {
  left: -50%;
  transform: skewX(25deg) rotate(3deg);
  z-index:100;
}
.submenu,
.submenu li {
  opacity: 0;
  visibility: hidden;
  z-index:100;			
}
.submenu li {
  transition: .2s ease transform;
  z-index:100;
}
.menu > li:hover .submenu,
.menu > li:hover .submenu li {
  opacity: 1;
  visibility: visible;
  z-index:100;
}		
.menu > li:hover .submenu li:nth-child(even){
  transform: skewX(25deg) translateX(15px);
  z-index:100;
}
.menu > li:hover .submenu li:nth-child(odd){
  transform: skewX(-25deg) translateX(-15px);
  z-index:100;
}
.left
{
  float: left;
}
.right
{
  float: right;
  margin-right:7%;
}
.center
{
  float:right;
}